# This workflow will install dependencies, create coverage tests and run Jest Coverage Comment
# For more information see: https://github.com/MishaKav/jest-coverage-comment/
name: Jest Coverage Comment
on:
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: |
          npx jest --coverage --coverageReporters json-summary text | tee ./coverage.txt

      # - name: Jest Coverage Comment
      #   id: coverageComment
      #   uses: MishaKav/jest-coverage-comment@main
      #   with:
      #     hide-comment: true
      #     coverage-summary-path: ./coverage/coverage-summary.json

      - name: Jest Coverage Comment
        uses: MishaKav/jest-coverage-comment@main
        with:
          coverage-summary-path: ./coverage/coverage-summary.json
          title: My Jest Coverage Comment
          summary-title: My Summary Title
          badge-title: Coverage
          hide-comment: false
          create-new-comment: false
          hide-summary: false
          junitxml-title: My JUnit Title
          junitxml-path: junit.xml
          coverage-title: My Coverage Title
          coverage-path: ./coverage.txt
      
      # - name: Jest Coverage Report
      #   uses: ArtiomTr/jest-coverage-report-action@v2



